//Varaibles
$black: #000000;
$lightBlack: #333333;
$white: #ffffff;
$grey: #6c6c6c;
$textMediumGrey: #828282;
$lightgrey: #959595;
$titlegrey: #bfbfbf;
$textgrey: #5f5f5f;
$lighterpink: #fff5f5;
$lightpink: #feeaea;
$pink: #fee3e3;
$darkpink: #fdd0d0;
.site-title,
.entry-header,
.entry-footer,
.site-info,
#site-navigation {
	display: none;
}

#wpadminbar {
	display: none;
}

* {
	font-size: 16px;
	font-family: "Circular Std", "Helvetica Neue", sans-serif !important;
	color: $black;
	letter-spacing: 0.2px;
	-o-transition: 0.4s;
	-ms-transition: 0.4s;
	-moz-transition: 0.4s;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

p {
	margin: 0 0 10px;
}

.fa {
	font: normal normal normal 14px/1 FontAwesome !important;
}

.hide {
	display: none;
}

#home {
	height: 100vh;
}

// Menu
.nav-container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 3;
	background-color: $white;
	padding-top: 10px;
}

.menu-container {
	flex: 1;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: center;

	li {
		margin: 2rem;

		a {
			font-size: 18px;
			font-weight: 400;
			color: $textgrey;
		}

		.active {
			color: $black;
			font-weight: 500;
		}
	}
}

.social-container {
	flex: 1;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: flex-end;

	li.social-item {
		margin: 20px;

		a i {
			color: $textgrey;
			font-size: 20px !important;

			&:hover {
				color: $black;
			}
		}
	}
}

.closing-container {
	flex: 1;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: flex-end;
}

.main-nav .logo img {
	width: 50px;
}

.logo-container {
	flex: 1;
}

.main-nav {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	background-color: $white;
	margin: 0;
	position: relative;
	z-index: 2;
	right: 0;
	left: 0;
	height: 60px;
	padding: 0 32px;
	justify-content: space-between;
	align-items: center;
}

.main-nav li {
	list-style: none;
}

.main-nav a {
	display: block;
	text-decoration: none;
	color: $black;
	&:hover {
		color: $black;
	}
	&:visited {
		color: $black;
	}
	&:active {
		color: $black;
	}
}

.menu-hover {
	display: inline-block;
	padding: 0;

	a {
		padding: 0;

		&:visited {
			color: $textgrey;
		}
	}
}

.menu-hover::after {
	content: "";
	position: relative;
	display: block;
	width: 0;
	z-index: -1;
	height: 4px;
	background: $lightpink;
	transition: width 0.3s;
}

.menu-hover:hover::after {
	width: 100%;
	transition: width 0.3s;
}
// Mobile menu
.menu-mobile {
	display: none;
	margin-top: 5px;
}

.menu-desktop a {
	display: inline-block;
}

.mobile-menu-nav {
	display: -webkit-flex;
	display: flex;
	background-color: rgba(255, 255, 255, 0.95);
	margin: 0;
	position: fixed;
	z-index: 2;
	top: 0;
	height: 60px;
	padding: 0 20px;
	width: 100vw;
	justify-content: space-between;
}

.is-open {
	display: flex;
}

.menu-mobile-content-container {
	display: none;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: $white;
}

.menu-panel {
	margin-top: -20%;
}

.mobile-menu-ul {
	margin: 0;
	padding: 0;
}

.menu-mobile-content-li {
	text-align: center;
	padding: 5vh;
}

.menu-mobile-content-li a {
	padding: 0;
}

.mobile-nav-li {
	height: 10vh;
	padding: 5vh 0 10vh 0;
}

.mobile-nav-li a {
	font-size: 28px;
	padding: 0;
	text-align: center;
}

// Burger menu
.burger-top,
.burger-mid,
.burger-bot {
	height: 3px;
	background-color: $black;
	border-radius: 200px;
	margin-top: 4px;
	margin-bottom: 6px;
}

.burger-top {
	width: 32px;
}

.burger-mid {
	width: 22px;
}

.burger-bot {
	width: 27px;
}

.block {
	display: block;
}

// Headline
.headline {
	height: 100vh;
}

.headline-title-container {
	padding-top: 30vh;
	padding-bottom: 30px;
}

.headline-title {
	font-size: 35px;
	font-weight: bold;
	position: relative;
	line-height: 0.5;
}

.header-fix {
	font-size: 35px;
	font-weight: bold;
	display: inline;
	top: 12px;
	left: -17px;
	position: relative;
}

.pink-bar-offset {
	border-bottom: 23px solid $lightpink;
	font-family: inherit;
	position: relative;
	display: inline;
	top: -47px;
	left: 106px;
}

.headline-p {
	width: 55%;
	color: $textgrey;
	letter-spacing: 0.2px;
}

.discover {
	margin: auto;
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
}

.discover-p {
	margin-bottom: 5px;
}

.discover-bar {
	height: 40px;
	width: 3px;
	background-color: $lightpink;
	margin: 0 auto;
}

.section-title-container {
	display: flex;
}

.entry-content {
	margin-top: 0px !important;
}

.entry-content a:hover,
.entry-content a:active {
	text-decoration: none;
}

// Portfolio post
#main .hide-if-open {
	display: none;
}

.main-page article .hide-if-open {
	display: block;
}

.more-link {
	display: none;
}

.entry-content img {
	-webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.16);
	-moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.16);
	box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.16);
}

.case-studies-title {
	font-weight: bold;
	font-size: 24px;
	margin: 20px 0 3px 0;
	color: $lightBlack;

	&:hover {
		text-decoration: none;
		color: $lightBlack;
	}
}

.case-studies-description {
	font-size: 16px;
	color: $textMediumGrey;
	margin: 0;
}

// About
.about {
	margin-top: 23vh;
}

.about-text {
	padding-left: 0px;
}

.about-title {
	font-size: 35px;
	font-weight: bold;
}

.about-p {
	color: $textgrey;
	margin-top: 20px;
	font-size: 14px;
	line-height: 1.8;
}

.about-avatar {
	margin-top: 9vh;
}

.profile-picture {
	width: 80%;
	-webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.16);
	-moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.16);
	box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.16);
}

.avatar-pink-box {
	width: 35%;
	height: 400px;
	background-color: $lightpink;
	position: absolute;
	top: -50px;
	right: 35px;
	z-index: -1;
}

.footer {
	text-align: center;
	font-size: 14px;
	margin: 70px 0 100px 0;
}

//Blog post
#more-19 {
	display: none;
}

#respond {
	display: none;
}

.post-nav .logo img {
	width: 50px;
}

.post-nav {
	display: -webkit-flex;
	display: flex;
	background-color: rgba(255, 255, 255, 0.95);
	width: 100vw;
	margin: 0;
	position: relative;
	z-index: 2;
	top: 0;
	height: 60px;
	padding: 0 32px;
	justify-content: space-between;
}

.post-nav li:first-child {
	margin-right: auto;
}

.post-nav li {
	list-style: none;
	align-self: center;
}

.cross-right {
	width: 30px;
	height: 3px;
	background-color: $black;
	transform: rotate(45deg);
	transform-origin: 20% 40%;
	border-radius: 200px;
	top: -2px;
	position: relative;
}

.cross-left {
	width: 30px;
	height: 3px;
	background-color: $black;
	transform: rotate(-45deg);
	transform-origin: 20% 40%;
	border-radius: 200px;
	top: 7px;
	position: relative;
}

.entry-content .nav-container {
	left: 0;
	right: 0;
}

.main-nav a img,
.post-nav a img {
	-webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0);
	-moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0);
	box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0);
}

.post-main-container {
	margin-top: 14vh;
}

.post-navigation {
	display: none;
}

.title-container {
	font-size: 33px;
}

.post-section-title {
	font-size: 18px;
	color: $black;
	font-weight: 500;
}

.post-title {
	display: flex;
}

.title-container h1 {
	font-weight: bold;
	display: inline;
	position: relative;
}

.section-content {
	color: $textgrey;
	line-height: 1.8;
}

.ul-section-content {
	padding-top: 20px;
	color: $textgrey;
	line-height: 1.8;
}

li {
	color: $textgrey;
	line-height: 1.8;
}

.section-container img {
	padding: 0;
	margin: 50px 0;
}

.section-container a:visited {
	color: $textgrey;
}

.mockup-grid-wrapper img {
	margin-bottom: 200px;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(3, 1fr);
}

.mockup-grid-wrapper img {
	-webkit-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.25);
}

.section-content a {
	color: $textgrey;
	&:visited {
		color: $textgrey;
	}
	&:hover {
		color: $textgrey;
	}
}

.post-main-container .footer {
	margin-top: 100px;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 30px;

	img {
		width: 28%;
		margin: 20px;
	}
}

//Large tablets
@media (max-width: 992px) {
	.headline-title-before {
		top: -18px;
	}

	.headline-title,
	.header-fix {
		font-size: 58px;
	}

	.menu-desktop {
		display: block;
	}

	.burger-menu {
		display: none;
	}

	.headline-p {
		width: 80%;
	}

	//Process
	.process-description {
		width: 75%;
	}

	.profile-picture {
		width: 40%;
		margin-left: 29%;
	}

	.avatar-pink-box {
		width: 50%;
		height: 60px;
		top: -26px;
		left: 0;
		bottom: 0;
		margin-left: 5%;
		position: relative;
		margin-left: 24%;
	}
}

//Tablets
@media (min-width: 768px) {
	.burger-menu {
		display: none;
	}

	.about,
	.contact {
		padding-left: 60px;
	}
}

@media (max-width: 768px) {
	.container {
		overflow-x: hidden;
	}

	.post-main-container {
		margin-top: 8vh;
	}

	.headline-title,
	.header-fix {
		font-size: 50px;
	}

	.title-container h1 {
		left: -28px;
		font-size: 46px;
	}

	.post-nav {
		padding: 0 20px;
	}

	.post-black-bar {
		height: 3px;
		width: 18px;
		left: -26px;
	}

	.menu-desktop {
		display: none;
	}

	.menu-mobile,
	.burger-menu {
		display: block;
	}

	.main-nav {
		width: 100vw;
		padding: 0 20px;
	}

	.headline-title-before {
		top: -20px;
		height: 3px;
		left: -38px;
		width: 24px;
	}

	.headline-title {
		left: -34px;
	}

	.pink-bar-offset {
		top: -14px;
		left: -20px;
		border-bottom: 22px solid $lightpink;
	}

	.header-fix {
		top: 14px;
		left: -9px;
	}

	.headline-p {
		width: 75%;
		padding-top: 2%;
	}

	#primary {
		padding: 5%;
	}

	.section-title-before {
		width: 20px;
		height: 3px;
		left: -15px;
	}

	.section-title {
		font-size: 28px;
		left: -10px;
	}

	.portfolio-title {
		font-size: 22px;
	}

	.portfolio-description {
		font-size: 14px;
	}

	//About
	.about-text {
		padding: 0px 15px;
		line-height: 1.8;
	}

	.profile-picture {
		margin-left: 30%;
	}

	.profile-picture {
		width: 40%;
	}

	.about-avatar {
		margin-top: 40px;
	}

	.avatar-pink-box {
		width: 50%;
		height: 50px;
		top: -26px;
		left: 0;
		bottom: 0;
		margin-left: 25%;
		position: relative;
	}
}

// Large phone
@media (max-width: 576px) {
	.headline-title,
	.header-fix {
		font-size: 36px;
	}

	.title-container h1 {
		font-size: 30px;
	}

	.headline-title-before {
		top: -12px;
	}

	//Process
	.process-description {
		width: 90%;
	}

	//About
	.profile-picture {
		margin-left: 12.5%;
		width: 75%;
	}

	.avatar-pink-box {
		width: 100%;
		margin-left: 0;
	}
}

// Phone
@media (max-width: 420px) {
	// Headline
	.headline-title,
	.header-fix {
		font-size: 34px;
	}
	// Process
	.process-description {
		width: 100%;
	}
}

//Fix breaking containers
@media (max-width: 366px) {
	// Contact
	.contact-p,
	.contact-black a {
		font-size: 16px;
	}

	.profile-picture {
		width: 40%;
		margin-left: 29%;
	}

	.avatar-pink-box {
		width: 50%;
		height: 60px;
		top: -26px;
		left: 0;
		bottom: 0;
		margin-left: 5%;
		position: relative;
		margin-left: 24%;
	}
}
