.site-title,
.entry-header,
.entry-footer,
.site-info,
#site-navigation {
  display: none; }

* {
  font-size: 16px;
  font-family: "Helvetica Neue", sans-serif;
  color: #000000;
  letter-spacing: 0.2px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.hide {
  display: none; }

.nav-container {
  position: fixed;
  top: 0;
  z-index: 3; }

.main-nav .logo img {
  width: 50px; }

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(255, 255, 255, 0.97);
  margin: 0;
  position: relative;
  z-index: 2;
  right: 0;
  left: 0;
  height: 60px;
  padding: 0 32px; }

.main-nav li {
  list-style: none;
  -ms-flex-item-align: center;
      align-self: center; }

.main-nav li:first-child {
  margin-right: auto; }

.main-nav li:first-child a {
  padding-left: 0; }

.main-nav li:last-child a {
  padding-right: 0; }

.main-nav a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #000000; }
  .main-nav a:hover {
    color: #000000; }
  .main-nav a:visited {
    color: #000000; }
  .main-nav a:active {
    color: #000000; }
  .main-nav a .main-nav a:first {
    padding-left: 0; }

.menu-hover {
  display: inline-block; }

#li-last {
  padding-right: 0; }

.menu-hover::after {
  content: '';
  position: relative;
  display: block;
  width: 0;
  z-index: -1;
  height: 4px;
  background: #feeaea;
  -webkit-transition: width .3s;
  transition: width .3s; }

.menu-hover:hover::after {
  width: 100%;
  -webkit-transition: width .3s;
  transition: width .3s; }

.menu-mobile {
  display: none;
  margin-top: 5px; }

.mobile-menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(255, 255, 255, 0.95);
  margin: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  height: 60px;
  padding: 0 20px;
  width: 100vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.menu-mobile-content-container {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff; }

.menu-panel {
  margin-top: -20%; }

.mobile-menu-ul {
  margin: 0;
  padding: 0; }

.menu-mobile-content-li {
  text-align: center;
  padding: 5vh; }

.menu-mobile-content-li a {
  padding: 0; }

.mobile-nav-li {
  height: 10vh;
  padding: 5vh 0 10vh 0; }

.mobile-nav-li a {
  font-size: 28px;
  padding: 0;
  text-align: center; }

.burger-top,
.burger-mid,
.burger-bot {
  height: 3px;
  background-color: #000000;
  border-radius: 200px;
  margin-top: 4px;
  margin-bottom: 6px; }

.burger-top {
  width: 32px; }

.burger-mid {
  width: 22px; }

.burger-bot {
  width: 27px; }

.headline {
  height: 100vh; }

.headline-title-container {
  padding-top: 30vh;
  padding-bottom: 30px; }

.headline-title-before {
  background-color: #000000;
  position: relative;
  width: 50px;
  height: 6px;
  display: inline-block;
  left: -70px;
  top: -25px; }

.headline-title {
  font-size: 78px;
  font-weight: 500;
  display: inline;
  left: -60px;
  position: relative;
  line-height: 1.2; }

.header-fix {
  font-size: 78px;
  font-weight: 500;
  display: inline;
  top: 24px;
  left: -25px;
  position: relative; }

.pink-bar-offset {
  border-bottom: 38px solid #feeaea;
  font-family: inherit;
  position: relative;
  display: inline;
  top: -24px;
  left: -30px; }

.headline-p {
  width: 60%;
  line-height: 1.8;
  color: #959595;
  letter-spacing: 0.2px;
  margin-top: 15px; }

.discover {
  margin: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center; }

.discover-p {
  margin-bottom: 5px; }

.discover-bar {
  height: 40px;
  width: 3px;
  background-color: #feeaea;
  margin: 0 auto; }

.section-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

#portfolio,
#process,
#about,
#contact {
  padding-top: 100px; }

#portfolio {
  margin-bottom: 75px; }

.entry-content {
  margin-top: 0px !important; }

.entry-content a:hover,
.entry-content a:active {
  text-decoration: none; }

.hide-if-open {
  display: none; }

.portfolio .entry-content .hide-if-open {
  display: block; }

.more-link {
  display: none; }

.entry-content img {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.16); }

.section-title-before {
  background-color: #000000;
  height: 5px;
  width: 40px;
  -ms-flex-item-align: center;
      align-self: center;
  margin-right: 5px;
  position: relative;
  left: 10px; }

.section-title {
  font-size: 47px;
  font-weight: 500;
  margin: 0;
  position: relative;
  left: 15px; }

.portfolio-img {
  margin-top: 10px; }

.portfolio-title {
  font-weight: 400;
  font-size: 28px;
  margin: 20px 0 12px 0;
  color: #000000; }
  .portfolio-title:hover {
    text-decoration: none;
    color: #000000; }

.portfolio-pink-bar {
  background-color: #fee3e3;
  width: 40px;
  height: 4px;
  margin: 8px 0; }

.portfolio-description {
  font-size: 13.5px;
  color: #959595;
  margin: 0;
  font-family: "Futura", "Nunito";
  margin-bottom: 30px;
  font-weight: 500;
  letter-spacing: 2px; }

.process-main-container {
  margin-top: 100px;
  margin-bottom: 125px; }

.process-container {
  padding-top: 50px; }

.number {
  position: absolute;
  font-size: 300px;
  margin: 0;
  padding: 0;
  top: -100px;
  font-weight: 500;
  color: #fff5f5;
  z-index: -1; }

.process-text-container {
  padding-left: 75px; }

.process-title {
  font-size: 28px; }

.process-description {
  font-size: 18px;
  color: #959595;
  padding: 0;
  line-height: 1.8; }

.black {
  font-size: 18px;
  color: #000000; }

.italic {
  color: #5f5f5f;
  line-height: 1.8;
  font-style: italic;
  padding: 0 70px; }

.about {
  margin-top: 50px; }

.about-text {
  padding-left: 0px; }

.about-title {
  font-size: 24px; }

.about-p {
  color: #6c6c6c;
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.8; }

.about-avatar {
  margin-top: 50px; }

.profile-picture {
  width: 80%;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.16); }

.avatar-pink-box {
  width: 35%;
  height: 400px;
  background-color: #feeaea;
  position: absolute;
  top: -50px;
  right: 35px;
  z-index: -1; }

.contact {
  margin-top: 50px;
  margin-bottom: 100px; }

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px; }

.contact-p {
  color: #6c6c6c; }

.black-bar {
  width: 15px;
  height: 2px;
  background-color: #000000;
  justify-self: center;
  margin: 0 10px; }

.contact-black a {
  color: #000000;
  margin-right: 15px; }
  .contact-black a:hover {
    color: #000000;
    text-decoration: none; }
  .contact-black a:visited {
    color: #000000 !important; }
  .contact-black a:visited {
    color: #000000 !important;
    text-decoration: none; }

.footer {
  text-align: center;
  font-size: 14px;
  margin: 50px 0 100px 0; }

#more-19 {
  display: none; }

#respond {
  display: none; }

.post-nav .logo img {
  width: 50px; }

.post-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(255, 255, 255, 0.95);
  width: 100vw;
  margin: 0;
  position: relative;
  z-index: 2;
  top: 0;
  height: 60px;
  padding: 0 32px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.post-nav li:first-child {
  margin-right: auto; }

.post-nav li {
  list-style: none;
  -ms-flex-item-align: center;
      align-self: center; }

.cross-right {
  width: 30px;
  height: 3px;
  background-color: #000000;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 20% 40%;
          transform-origin: 20% 40%;
  border-radius: 200px;
  top: -2px;
  position: relative; }

.cross-left {
  width: 30px;
  height: 3px;
  background-color: #000000;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 20% 40%;
          transform-origin: 20% 40%;
  border-radius: 200px;
  top: 7px;
  position: relative; }

.entry-content .nav-container {
  left: 0;
  right: 0; }

.main-nav a img,
.post-nav a img {
  -webkit-box-shadow: 0px 5px 15px 0px transparent;
  box-shadow: 0px 5px 15px 0px transparent; }

.post-main-container {
  margin-top: 14vh; }

.post-navigation {
  display: none; }

.title-container {
  font-size: 33px; }

.post-section-title {
  font-family: "Futura", "Nunito";
  font-size: 16px;
  color: #bfbfbf;
  text-transform: uppercase;
  letter-spacing: 1.8px; }

.post-black-bar {
  background-color: #000000;
  height: 7px;
  width: 60px;
  -ms-flex-item-align: center;
      align-self: center;
  margin-right: 5px;
  position: relative;
  left: -80px; }

.post-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.title-container h1 {
  font-weight: 500;
  display: inline;
  position: relative;
  left: -70px; }

.job {
  font-size: 18px; }

.section-content {
  color: #5f5f5f;
  line-height: 1.8; }

.section-container img {
  padding: 0;
  margin-top: 40px;
  margin-bottom: 40px; }

.section-mobile img {
  padding: 0 15px;
  -webkit-box-shadow: 0px 5px 15px 0px transparent;
  box-shadow: 0px 5px 15px 0px transparent; }

.section-content a {
  color: #5f5f5f; }
  .section-content a:visited {
    color: #5f5f5f; }
  .section-content a:hover {
    color: #5f5f5f; }

.post-main-container .footer {
  margin-top: 100px; }

@media (max-width: 992px) {
  .headline-title-before {
    top: -18px; }
  .headline-title,
  .header-fix {
    font-size: 58px; }
  .menu-desktop {
    display: block; }
  .burger-menu {
    display: none; }
  .headline-p {
    width: 80%; }
  .process-description {
    width: 75%; }
  .profile-picture {
    width: 40%;
    margin-left: 29%; }
  .avatar-pink-box {
    width: 50%;
    height: 60px;
    top: -26px;
    left: 0;
    bottom: 0;
    margin-left: 5%;
    position: relative;
    margin-left: 24%; } }

@media (min-width: 768px) {
  .burger-menu {
    display: none; }
  .about,
  .contact {
    padding-left: 60px; } }

@media (max-width: 768px) {
  .container {
    overflow-x: hidden; }
  #portfolio,
  #process,
  #about,
  #contact {
    padding-top: 80px; }
  .post-main-container {
    margin-top: 8vh; }
  .headline-title,
  .header-fix {
    font-size: 50px; }
  .title-container h1 {
    left: -28px;
    font-size: 46px; }
  .post-nav {
    padding: 0 20px; }
  .post-black-bar {
    height: 3px;
    width: 18px;
    left: -26px; }
  .menu-desktop {
    display: none; }
  .menu-mobile,
  .burger-menu {
    display: block; }
  .main-nav {
    margin: 0 20px;
    width: 100vw; }
  .headline-title-before {
    top: -20px;
    height: 3px;
    left: -38px;
    width: 24px; }
  .headline-title {
    left: -34px; }
  .pink-bar-offset {
    top: -14px;
    left: -20px;
    border-bottom: 22px solid #feeaea; }
  .header-fix {
    top: 14px;
    left: -9px; }
  .headline-p {
    width: 75%;
    padding-top: 2%; }
  #portfolio {
    margin-bottom: 40px; }
  #primary {
    padding: 5%; }
  .section-title-before {
    width: 20px;
    height: 3px;
    left: -15px; }
  .section-title {
    font-size: 28px;
    left: -10px; }
  .portfolio-title {
    font-size: 22px; }
  .portfolio-description {
    font-size: 14px; }
  .process {
    margin-top: 20px; }
  .process-main-container {
    margin-top: 70px;
    margin-bottom: 0px; }
  .process-container {
    padding-top: 0;
    padding-left: 5%; }
  .process-text-container {
    padding-left: 0;
    padding-right: 0; }
  .process-description {
    padding-top: 20px;
    padding-left: 3px;
    font-size: 16px;
    line-height: 1.6; }
  .number {
    font-size: 120px;
    top: -65px;
    left: -4px; }
  .about-text {
    padding: 0px 15px;
    line-height: 1.8; }
  .profile-picture {
    margin-left: 30%; }
  .profile-picture {
    width: 40%; }
  .about-avatar {
    margin-top: 40px; }
  .avatar-pink-box {
    width: 50%;
    height: 50px;
    top: -26px;
    left: 0;
    bottom: 0;
    margin-left: 25%;
    position: relative; } }

@media (max-width: 696px) {
  .contact {
    padding-left: 20px; }
  .contact-container {
    display: inline; }
  .contact-p {
    font-size: 18px;
    display: block; }
  .black-bar {
    width: 15px;
    height: 2px;
    margin: 0 5px 0 0px;
    position: relative;
    top: -4px;
    display: none; }
  .contact-black {
    display: inline;
    display: -webkit-inline-box;
    top: 10px;
    margin-top: 3px;
    margin-bottom: 20px; }
  .footer {
    margin: 0px 0 100px 0; } }

@media (max-width: 630px) {
  .headline-title-container {
    padding-top: 25vh;
    width: 100%; } }

@media (max-width: 630px) {
  .headline-title-container {
    padding-top: 25vh;
    width: 100%; }
  .contact {
    padding-left: 20px; }
  .contact-container {
    display: inline; }
  .contact-p {
    font-size: 18px;
    display: block; }
  .black-bar {
    width: 15px;
    height: 2px;
    margin: 0 5px 0 0px;
    position: relative;
    top: -4px;
    display: none; }
  .contact-black {
    display: inline;
    display: -webkit-inline-box;
    top: 10px;
    margin-top: 3px;
    margin-bottom: 20px; }
  .contact-black a {
    font-size: 17px; }
  .footer {
    margin: 0px 0 100px 0; } }

@media (max-width: 576px) {
  .headline-title,
  .header-fix {
    font-size: 36px; }
  .title-container h1 {
    font-size: 30px; }
  .headline-title-before {
    top: -12px; }
  .process-description {
    width: 90%; }
  .profile-picture {
    margin-left: 12.5%;
    width: 75%; }
  .avatar-pink-box {
    width: 100%;
    margin-left: 0; } }

@media (max-width: 420px) {
  .headline-title,
  .header-fix {
    font-size: 34px; }
  .process-description {
    width: 100%; } }

@media (max-width: 366px) {
  .contact-p,
  .contact-black a {
    font-size: 16px; }
  .profile-picture {
    width: 40%;
    margin-left: 29%; }
  .avatar-pink-box {
    width: 50%;
    height: 60px;
    top: -26px;
    left: 0;
    bottom: 0;
    margin-left: 5%;
    position: relative;
    margin-left: 24%; } }
